* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #80ffdb;
  font-family: cursive;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cards {
  min-width: 200px;
  min-height: 260px;
  background-color: white;
  padding: 10px;
  margin: 1rem 3rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cards .color {
  min-height: 10rem;
  border-radius: 7px;
  background-color: orange;
}
.cards .color:hover {
  cursor: pointer;
  margin: 2px;
}
.cards .name {
  padding-top: 2rem;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
.cards .name:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  text-decoration: underline;
}
